body {
  background-color: #faf9f4;
  font-size: 1.4rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-bottom: 8vh;
}

.top-actions {
  margin: 3vh 11vw 3vh 9vw;
  flex: 1 0 auto;
}
.top-actions .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.top-actions .container .top-logo {
  background-color: #cccccc;
  border-radius: 10px;
  margin-left: 2.5vw;
  padding: 1vh 6.5vw;
}
.top-actions .container .top-menu {
  margin-top: 0.5vh;
}
.top-actions .container .top-menu ul {
  display: inline;
}
.top-actions .container .top-menu ul li {
  border-radius: 10px;
  display: inline;
  padding: 1.2vh 1vw;
  font-size: 1.2em;
}
.top-actions .container .top-menu ul li.active {
  background-color: #edc002;
  color: #ffee9b;
}

.main {
  margin: 1vh 10vw 0 10.1vw;
  background-color: white;
  border-radius: 20px 20px 0 0;
  box-shadow: 0 0 20px #cccccc;
}
.main .container h1 {
  padding: 0 2vw;
  font-weight: normal;
  font-size: 2.8em;
}
.main .container .featured-book {
  padding-bottom: 4vh;
  background-color: #faf9f4;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto auto 11.5%;
  grid-template-areas: ". . recommended" "cover book-info book-info";
}
.main .container .featured-book .recommended {
  grid-area: recommended;
  border-bottom-left-radius: 15px;
  background-color: #edc002;
  color: #ffee9b;
  padding: 0.6vh 0vw 0.6vh 0.7vw;
  font-size: 1em;
}
.main .container .featured-book img {
  grid-area: cover;
  border-radius: 15px;
  margin-left: 2.4vw;
  width: 20.5vw;
  box-shadow: 0 0 10px #cccccc;
}
.main .container .featured-book .book-info {
  grid-area: book-info;
  margin: 0 3vw 0 1.5vw;
}
.main .container .featured-book .book-info .title {
  font-size: 2.4em;
  margin: 0px;
  font-weight: bold;
}
.main .container .featured-book .book-info .author {
  font-size: 1.1em;
}
.main .container .featured-book .book-info .synopsis {
  font-size: 1.05em;
  padding-top: 1vh;
  line-height: 1.25em;
}
.main .container .top-voted {
  padding-bottom: 5vh;
}
.main .container .top-voted h2 {
  margin: 6.5vh 0 3vh 2.3vw;
  font-size: 2.2em;
}
.main .container .top-voted .books-list {
  margin: 0 1.5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main .container .top-voted .books-list .book {
  flex: 1 1 33%;
  margin: 0 0.9vw;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 27% auto 27%;
  grid-template-areas: ". cover position" "book-info book-info book-info";
  background-color: #faf9f4;
  border-radius: 10px;
  padding: 2vh 1vw;
  box-shadow: 0 0 10px #faf9f4;
}
.main .container .top-voted .books-list .book .position {
  grid-area: position;
  text-align: right;
  margin-top: 1vh;
}
.main .container .top-voted .books-list .book .position span {
  color: #edc002;
  font-weight: bold;
  border: 3px solid #edc002;
  padding: 10px 17px;
  border-radius: 50%;
}
.main .container .top-voted .books-list .book img {
  grid-area: cover;
  width: 10.2vw;
  border-radius: 15px;
  box-shadow: 0 0 10px #cccccc;
}
.main .container .top-voted .books-list .book .book-info {
  grid-area: book-info;
}
.main .container .top-voted .books-list .book .book-info .title {
  font-size: 1.1em;
  margin: 2vh 0 0.5vh 0;
}
.main .container .top-voted .books-list .book .book-info .synopsis {
  padding: 3vh 0.2vw 0 0;
}
.main .container .top-voted .books-list .book .book-info .synopsis p {
  margin: 0;
  font-size: 0.95em;
  line-height: 1.3em;
}

footer {
  background-color: #292929;
  color: white;
  font-size: 90%;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
footer .container {
  padding: 0.5vh 6.5vw;
}
footer .container ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0vh 30vw;
}
footer .container ul li {
  display: inline;
}

/*# sourceMappingURL=q3.css.map */
