<div class="container">
  <h2 class="page-head">Top books of all time</h2>
  <div class="books">
    <div class="book" ng-repeat="book in $ctrl.books">
      <div class="row">
        <div class="col-md-9 d-flex flex-column justify-content-around">
          <div class="row align-items-center">
            <a class="title" ui-sref="books.details({ slug: book.Slug })" ui-sref-ops="{reload: true}">
              {{ $index+1 }}. {{ book.Title }}</a> &nbsp;
            <span class="rating">({{ book.Rating }}/10)</span>
          </div>
          <span class="author text-muted">
            {{ book.Author }}
          </span>
          <p class="synopsis">
            {{ book.Synopsis | truncate: 200 }}
          </p>
          <div class="row align-items-center">
            <button class="col-md-2"
              ng-class="{'upvoted-btn': book.UpVoted, 'upvote-btn': !book.UpVoted}"
              ng-click="$ctrl.upvoteBook(book);">
              {{ book.UpVoted ? 'Upvoted' : 'Upvote' }}
            </button>
            <span class="col-md-9">
              Upvoted {{ book.UpVotes }} times
            </span>
          </div>
        </div>
        <div class="col-md-3">
          <a ui-sref="books.details({ slug: book.Slug })" ui-sref-ops="{reload: true}">
            <img class="book-cover" ng-src="{{ book.Cover }}" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>